# Required to build the bindings (you may remove one of them)
pybind11
nanobind
# required for generating the bindings
litgen@git+https://github.com/pthom/litgen

# Tools to ensure code quality
pre-commit
black
mypy
pytest
ruff
